@import "../../vars.css";

.container{
    position: relative;
    background-color: rgba(12, 12, 12, 0.6);
    border-radius: 15px;
    padding: 73px;
    margin-top: 129px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.title{
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.subtitle{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1.75px;
}
.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aboutImage{
    width: 30%;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, z-index 0.3s ease; /* Transición suave */
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, -0px);
    }
}



.aboutItems{
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin-left: 40px;
}


.aboutItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    padding: 25px;
    background: linear-gradient(to right, #51737b 70%, rgba(0, 0, 0, 0.167) 100%);
    transition: box-shadow 0.5s ease, transform 0.3s ease;
}

.aboutItem:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Sombra difusa */
    transform: scale(1.02);
}

.aboutItem h3{
    font-size: 30px;
    font-weight: 600;
}

.aboutItem p{
    font-size: 20px;
}

@media screen and (max-width: 830px){

    .container{
        background-color: transparent;
        margin-left: 0;
        margin-right: 0;
    }

    .content{
        flex-direction: column;
    }

    .subtitle{
        text-transform: uppercase;
        text-align: center;
        color: var(--color-text);
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 1.75px;
    }

    .aboutImage{
        width: 40%;
        margin-bottom: 10px;
        margin-top: 20px;
        animation: none; /* Me quita la animación de flotado */
        
    }

    .aboutImage:hover{
        transform: scale(1.1); /* Agranda la imagen un 10% */
        z-index: 2; /* Trae la imagen al frente */
    }

    .aboutItems{
        margin-top: 20px;
        margin-left: auto;
    }

    .aboutItem{
        padding-left: 0;
        padding-right: 0;
    }

    


}